---
import { ViewTransitions } from 'astro:transitions';
// Constants
import { PAGE_TITLES } from '@app/constants';

type Props = {
  title?: string;
};

const { title = PAGE_TITLES.HOME } = Astro.props;
---

<!doctype html>
<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta http-equiv='Content-Type' content='text/html; charset=utf-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1' />
    <meta
      name='description'
      content='Amad Furniture is one ecommerce site from Envato system, this site serves furniture products.'
    />
    <meta
      property='og:description'
      content='Amad Furniture is one ecommerce site from Envato system, this site serves furniture products.'
    />
    <meta property='og:image:width' content='1200' /><meta
      property='og:image:height'
      content='628'
    />
    <meta
      property='og:title'
      content='Envato Market - Manage users and transactions on every purchase'
    />
    <meta
      property='og:url'
      content='https://landing-page-envato.vercel.app/'
    /><meta name='theme-color' content='rgb(251, 183, 16)' />
    <meta
      property='og:image'
      content='https://landing-page-envato.vercel.app/assets/preview.png'
    />
    <link rel='shortcut icon' href='/icons/favicon.svg' type='image/x-icon' />
    <title>{title}</title>

    <ViewTransitions />
    <style>
      html {
        scroll-behavior: smooth;
      }
    </style>
  </head>
  <body class='dark:bg-bgDarkTheme dark:text-white'>
    <slot />
  </body>
</html>
