---
export interface LinkProps {
  href: string;
  className?: string;
  label?: string;
}

const { href, className = '', label = '' } = Astro.props;

const styleLink =
  'font-primary text-[#2550aa] underline-offset-1 hover:underline-offset-0 dark:text-white';
---

<a href={href} target='_blank' class={`${styleLink} ${className}`}>{label}</a>
