---
// Components
import { MainLayout } from '@app/layouts';

// Constants
import { ROUTES } from '@app/constants';
---

<MainLayout>
  <div class='h-full flex flex-col justify-center items-center'>
    <h1 class='text-2xl'>Coming Soon</h1>
    <a href={ROUTES.HOME} class='mt-3 bg-sun py-3 px-5 rounded-sm'>Go to Home</a
    >
  </div>
</MainLayout>
