---
// Mocks
import { NAVBAR } from '@app/constants';

// TODO: Update to late
const pathName: string = '/';
---

<nav class='hidden lg:block mt-4'>
  <ul class='flex gap-2xl'>
    {
      NAVBAR.map(
        ({ href, text }): JSX.Element => (
          <li class='gap-2xl'>
            <a
              href={href}
              class={` ${
                href === pathName ? 'text-sun' : ''
              } text-white hover:text-sun uppercase text-sm`}
            >
              {text}
            </a>
          </li>
        ),
      )
    }
  </ul>
</nav>
